{% extends 'home/layout.html' %}

{% block header %}
    {% load static %}
    <link href="{% static 'css/post_list.css' %}" type="text/css" rel="stylesheet">
    <!--

        <link href="{% static 'css/bootstrap.min.css' %}" type="text/css" rel="stylesheet">
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/simple-bootstrap-paginator.js' %}"></script>
    -->
    <script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'js/infinite.min.js' %}"></script>
    <script src="{% static 'js/post_list.js' %}"></script>
    <title>Mountain's 개발 블로그</title>
{% endblock %}
{% block content %}
<div class="wrapper">
    <div id="page_title">
        <!--
        -->
        {% if is_home %}
        <img src="{% static 'images/fixed.jpg' %}" id="main-poster">
        <div id="title">
            <div id="title-box">
                <h2>MOUNTAIN's</h2>
                <h3>Develop Blog</h3>
            </div>
        </div>
        {% else %}
            <div id="list_title_box">
                <h2 id="list_title">{{ title }}</h2>
                <p>{{ post_count }}개의 포스트</p>
            </div>
        {% endif %}

    </div>
    <div class="content"> 
        <section>
                {% if user.is_authenticated %}
                    <div class="btn">
                        <a id="post_button" href="{% url 'home:post_create' %}">
                            <img src="{% static 'images/pencil2.svg' %}" id="pencil_icon">
                            글 쓰기
                        </a>
                    </div>
                {% endif %}
            <ul class="infinite-container grid-post">
                    {% for post in post_list %}
                        <div class="infinite-item unwraped">
                            <li class="list-raw">
                                <p id="category">{{ post.category }}</p>
                                <a href="{{ post.get_absolute_url }}" id="detail_link">
                                    <h3 id="post-title">{{ post.title }}</h3>
                                </a>
                                <p id="date">{{ post.created_date|date:"Y.m.d" }}</p>
                            </li>
                        </div>
                    {% endfor %}   
            </ul>      
            {% if post_list.has_next %}
                <a class="infinite-more-link" href="?page={{ post_list.next_page_number }}" style="visibility: hidden">More</a>
            {% endif %}

            <div class="loading" style="display: none;">
                <h2>Loading...</h2>
            </div>
        </section>
    </div>
    <script>
        var infinite = new Waypoint.Infinite({
            element: $('.infinite-container')[0],
            onBeforePageLoad: function() {
                $('.loading').show();
            },
            onAfterPageLoad: function ($items) {
                $('.loading').hide();
            }
        });
    </script>
</div>


{% endblock %}
