{% extends 'home/layout.html' %}

{% block header %}
    {% load static %}
    <link href="{% static 'css/post_list.css' %}" type="text/css" rel="stylesheet">
    <script src="{% static 'js/post_list.js' %}"></script>
    <title>Mountain's 개발 블로그</title>
{% endblock %}
{% block content %}
    <div id="page_title">
        <h2>전체 포스팅</h2>
        <p>{{ posts.count }}개의 글</p>
        <a id="post_button" href="{% url 'home:post_create' %}">
            <img src="{% static 'images/pencil2.svg' %}" id="pencil_icon">
            글 쓰기
        </a>
    </div>
    <div class="content"> 
        <section>
            <ul class="grid-post">
                {% for post in posts %}
                    <li>
                        <p id="category">{{ post.category }}</p>
                        <a href="{{ post.get_absolute_url }}">
                            <h2 id="post-title">{{ post.title }}</h2>
                        </a>
                        <p id="date">{{ post.created_date|date:"Y.m.d" }}</p>
                </li>
                    {% endfor %}
            </ul> 
        </section>
    </div>
{% endblock %}
