<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Stylish" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nanum+Myeongjo" rel="stylesheet">
    <link href="{% static 'css/common.css' %}" type="text/css" rel="stylesheet">
    <script src="{% static 'js/jquery-3.4.0.js' %}"></script>
    <script src="{% static 'js/common.js' %}"></script>
    <title>Mountain's 개발 블로그</title>
    {% block header %}
    {% endblock %}  
</head>
<body>
    <header>
        <p>Mountain's 개발 블로그</p>          
            <div id="nav-icon">
                <span></span>
                <span></span>
                <span></span>
            </div>
    </header>
    <nav>
        <ul id="nav-list">
            <li><a href="{% url 'home:main' %}"><h3>Home</h3></a></li>
            <li><a href="{% url 'home:projects' %}"><h3>Projects</h3></a></li>
            <li><a href="{% url 'home:study' %}"><h3>Study</h3></a></li>
            <li><a href="{% url 'home:articles' %}"><h3>Articles</h3></a></li>
            <li><a href=#><h3>About</h3></a></li>
            <li id="login_btn">
                {% if not user.is_authenticated %}
                    <a href="{% url 'home:login' %}" id="login_a">
                    <img src="{% static 'images/switch.png' %}" />
                    <p>Login</p>
                    </a>
                {% else %}
                    <a href="{% url 'home:logout' %}" id="login_a">
                    <img src="{% static 'images/switch-off.png' %}" />
                    <p>Logout</p>
                    </a>
                {% endif %}
        </li>
        </ul>
    </nav>
    {% block content %}
    {% endblock %}
    <footer>
        <p>Copyright ⓒ Kim San</p>
    </footer>
</body>
</html>